@import "tailwindcss";



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

/* Estilos para el diseño exacto de la imagen */
.text-balance {
  text-wrap: balance;
}

/* Mejora la legibilidad */
p {
  line-height: 1.7;
}